.DS_Store

micro
micro.exe
!cmd/micro
/thicc
thicc-arm64
thicc.exe
!cmd/thicc
!internal/thicc
binaries/
tmp.sh
test/
.idea/
packages/
todo.txt
test.txt
log.txt*
*.old
benchmark_results*
tools/build-version
tools/build-date
tools/info-plist
tools/vscode-tests/
*.hdr
